*{
    margin: 0;
    background-color: #f5f5db;
    color: #b77a34;
    font-family: monospace;
}
header{
    font-size: 35px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#container{
    display: grid;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 50px 100px;
    cursor: pointer;
}

.grid{
    border-radius: 5px;
}
.grid:hover{
    transform: scale(1.2);
}
#content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.settings{
    display: flex;
    flex-direction: column;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.slider{
    text-align: center;
    margin-bottom: 10px;
}

.picker-container, .background-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.color-picker, .background-color{
    margin: 10px;
    -webkit-appearance: none;
    width: 80px;
    height: 80px;
    border: none;
    cursor: pointer;
    shadow: 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    
}
input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0px;
    border-color: transparent;
}
  
input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.color-picker:hover, .background-color:hover{
    transform: scale(1.06);
}

button{
    border: none;
    background-color: beige;
    width: 130px;
    padding: 7px 0px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: 600;
}

button:hover{
    transform: scale(1.06);
}

button:active{
    background-color: #b77a34;
    color: beige;
}

input[type="range"] {
    -webkit-appearance: none;
 
   }
   
input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #b77a34;
    height: 5px;
    border-radius: 5px;
}
   
input[type="range"]::-moz-range-track {
    background: #b77a34;
    height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background: burlywood;
    margin-top: -5px;
    border-radius: 50%;
}
   
input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background: burlywood;
    margin-top: -5px;
    border-radius: 50%;
}
